.nava{
  text-decoration: none;
  color: black;
}

.nava:hover{
  text-decoration: none;
  color: black;
  /*text-decoration-color: #577399;*/
  
}

.actnava{
  color: black;
  /*text-decoration-color: #577399;*/
}

.nava:visited{
  text-decoration: none;
  color: black;
  /*text-decoration-color: #577399; */
}

.tdp{
  /*padding-bottom: -3px;*/
  /*border-bottom: 3px solid lightcoral;*/
  padding-right: 20px;
  padding-left: 20px;
  border-bottom: 3px solid transparent;
}

.tdp:hover{
  /*padding-bottom: -3px;*/
  border-bottom: 3px solid orange;
}

.acttd{
  /*padding-bottom: -3px;*/
  border-bottom: 3px solid lightcoral;
}

hr{
  /*z-index: 2;*/
  margin-top: 0px;
}

h5{
  font-weight: normal;  
}

.acth5{
  font-weight: bold;
}

.floatlist {
    list-style-type: none;
    display: block;
}
.floatlist>li {
    float: left;
    background: #D8DADF;
    /*width: 50px;*/
    margin: 5px;
    padding: 5px;
    /*height: 50px;*/
}

#droplist {
    list-style-type: none;
    display: block;
}
#droplist>li {
    border-radius: 2px;
    border-style: solid;
    border-color: #26435E;
    border-width: 1px;
    background: #A9B3CE;
    /*width: 50px;*/
    margin: 5px;
    padding: 5px;
    /*height: 50px;*/
}

.menupage{
  border-radius: 4px;border-color: #26435E;border-width: 1px;border-style: solid;padding: 20px 10px 20px 10px;
  
}

.whiteT{
  color: white;
}

.kolmenu{
  height: 200px;
  background: #384A62;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 35px 00px 50px 00px;
}

.kolmenu center h1{
  font-weight: bold;
  color: white;
}

.koltext{
  color: white;
  padding-top: 5px;
  height: 40px;
  font-weight: bold;
  background: #384A62;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tdp>a>h5{
  color: black;
  font-weight: bold;
}