.sidenav .closebtn:hover {
  color: red;
  border-left: 0px solid #DFE3ED;
  /*background: gray;*/
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #818181;
  border-left: 10px solid #DFE3ED;
  /*background: gray;*/
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0px;
}
.bg-dark{
  background: #393E41;
  background-color: #393E41;
}

.sidenav .actnav a:hover {
  color: #818181;

}

.jj{
  background: #335C81;
}

.ja{
  height: 200px;
  padding-top: 25px;
  background: #706E70;
}

.actnav{
  background-color: white;
  border-left: 10px solid #393E41;
  color: black;
}

.sidenav .actnav {
  color: black;
}

.ctext{
  padding-top: 30px;
}

.pad{
  border: 10px solid #393E41;
}

.image {
  border: 1px solid lightblue;
  height: 250px;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  /*background-image: url('../img/b.jpg');*/
  background-size: cover;
  background-position: center center;
  display: block;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 240px;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0,0,0,0.5);
}

.cc:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}