.c{
	text-align: center;
}
.bb{
	margin-top: 0px;
	padding-top: 101px;
}
.navm{
	width: 140px;
	margin-left: 180px;
}
.navt{
	width: 40px;
}
.nav-item{
	width: 120px;
}
.cl{
	color: black;
}
.nav-item :hover{
	color: gray;
}
.car{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
/*.dropdown-item :hover{
	background: gray;
}*/



.carousel-item{
    height: 400px;
}

.carousel-item img {
  border: 1px solid transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  /*background-image: url('../img/b.jpg');*/
  background-size: cover;
  background-position: center center;
  display: block;

}

.carousel-inner > .carousel-item > img {
  width: 50%; margin: auto;
}