
.paral { 
  /* The image used */
  /*background-image: url("../img/back.jpg");*/

  /* Set a specific height */
    min-height: 500px; 

  /* Create the paral scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
  .paral {
    /*background-attachment: scroll;*/
  }
}

.bb { 
  /* The image used */
  background-image: url("../img/back.jpg");

  /* Set a specific height */
  height: 300px; 

  /* Create the paral scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navmod{
  border-radius: 0px;
  background-color: #335C81;
  text-align: center;
}
.con{
  background: white;
}

.white p{
  color: white;
}